OPENROUTER_API_KEY=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
DATABASE_URL=sqlite:///./autotramite.db
# Para producción usaremos postgresql://user:pass@host/dbname

# Twilio (WhatsApp API)
TWILIO_ACCOUNT_SID=tu_sid_de_twilio
TWILIO_AUTH_TOKEN=tu_auth_token_de_twilio
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886

# Discord Bot
DISCORD_TOKEN=tu_token_de_discord_aqui
DISCORD_PUBLIC_KEY=tu_clave_publica_aqui

# Debug
SQL_DEBUG=false
LLM_MODEL=google/gemini-2.5-flash-lite
